.Manager{
    width: 500px;
    height: 250px;
    background-color: black; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    gap: 3rem;
    overflow: hidden;
  
}

// .Manager:hover {
//     box-shadow: 0 0 10px 1px white;

// }