.Manager{
    width: 500px;
    height: 400px;
    background-color: black; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    gap: 1.5rem;
    overflow: hidden;
  
}


.FileReady{
    width: 10rem;
    height: 4rem;
    background-color: green;
    border: unset;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FileReady:hover{
    background-color: unset;
    border: 1px solid #4096ff   ;
}
